/.bash_history
/.emacs.d/
/.emacs~
/.gitconfig
/Autodesk Installer/
/Autodesk/
/GitHub Desktop/
/MiKTeX/
/Microsoft/
/Prusa Research/
/PrusaSlicer/
/Slack/
/TUG/
/Zotero/
/vlc/
UI Launcher/GPUCache/data_0
UI Launcher/Network Persistent State
UI Launcher/GPUCache/index
UI Launcher/GPUCache/f_000002
UI Launcher/GPUCache/f_000001
UI Launcher/GPUCache/data_3
UI Launcher/GPUCache/data_2
UI Launcher/GPUCache/data_1
Wondershare/PDFThumbnail/Log/Thumbnail.log
Wondershare/PDFelement9/Log/ShellContextMenu.log
Wondershare/PDFelement9/Log/PEPreviewDeployment4.log
Wondershare/PDFelement9/Log/PEPreviewDeployment3.log
Wondershare/PDFelement9/Log/PEPreviewDeployment2.log
Wondershare/PDFelement9/Log/PEPreviewDeployment1.log
Wondershare/PDFelement9/Log/PEPreviewDeployment0.log
Wondershare/PDFelement9/Log/PDFelement1.log
Wondershare/PDFelement9/Log/PDFelement0.log
Wondershare/PDFelement9/Log/InstallVirtualPrinter.log
Wondershare/PDFelement9/DataCollection/tmp
Wondershare/PDFelement9/DataCollection/StaginngData.txt
Wondershare/PDFelement9/DataCollection/sdk.msg.bak
Wondershare/PDFelement9/DataCollection/sdk.msg
Wondershare/PDFelement9/DataCollection/sdk.log
Wondershare/PDFelement9/DataCollection/sdk.cf
Wondershare/PDFelement9/Config/WSID/UserInfo.dat
Wondershare/PDFelement9/Config/WSID/LastLoginInfo.ini
Wondershare/PDFelement9/Config/WSID/DeviceInfo.dat
Wondershare/PDFelement9/Config/WSID/AuthInfo.dat
Wondershare/PDFelement9/Config/Trial.ini
Wondershare/PDFelement9/Config/SystemFontList.cfg
Wondershare/PDFelement9/Config/SystemFontList.bak
Wondershare/PDFelement9/Config/RecentFolders.ini
Wondershare/PDFelement9/Config/RecentFiles.ini
Wondershare/PDFelement9/Config/PDFelement.ini
Wondershare/PDFelement9/Config/NPS.ini
Wondershare/PDFelement9/Config/NewCustomization.xml
Wondershare/PDFelement9/Config/MessageCenterConfig_New.config
Wondershare/PDFelement9/Config/MessageCenter.ini
Wondershare/PDFelement9/Config/MessageCenter.config
Wondershare/PDFelement9/Config/LanternGuardSystem/5259BF96341876DDCA1A481246AF1D0C.dat
Wondershare/PDFelement9/Config/HomeTool.ini
Wondershare/PDFelement9/Config/Home.ini
Wondershare/PDFelement9/Config/Guide.ini
Wondershare/PDFelement9/Config/Document Cloud/Default/CloudUser.ini
Wondershare/PDFelement9/Config/Document Cloud/CurrentCloudUser.ini
Wondershare/PDFelement9/Config/AutoSave.ini
Wondershare/PDFelement9/Config/AuthOperation.ini
Adobe/Acrobat/DC/TMGrpPrm.sav
Adobe/Acrobat/DC/TMDocs.sav
Adobe/Acrobat/DC/Security/reader_fss_signature_initialsk
Adobe/Acrobat/DC/Security/reader_fss_signature_initialsi
Adobe/Acrobat/DC/Security/reader_fss_signature_initials
Adobe/Acrobat/DC/Security/ES_session_storek
Adobe/Acrobat/DC/Security/ES_session_storei
Adobe/Acrobat/DC/Security/ES_session_store
Adobe/Acrobat/DC/Security/CRLCache/DF22CF8B8C3B46C10D3D5C407561EABEB57F8181.crl
Adobe/Acrobat/DC/Security/CRLCache/915DEAC5D1E15E49646B8A94E04E470958C9BB89.crl
Adobe/Acrobat/DC/Security/addressbook.acrodata
Adobe/Acrobat/DC/JSCache/GlobSettings
Adobe/Acrobat/DC/JSCache/GlobData
