/.bash_history
/.emacs.d/
/.emacs~
/.gitconfig
/Autodesk Installer/
/Autodesk/
/GitHub Desktop/
/MiKTeX/
/Microsoft/
/Prusa Research/
/PrusaSlicer/
/Slack/
/TUG/
/Zotero/
/vlc/
UI Launcher/GPUCache/data_0
UI Launcher/Network Persistent State
UI Launcher/GPUCache/index
UI Launcher/GPUCache/f_000002
UI Launcher/GPUCache/f_000001
UI Launcher/GPUCache/data_3
UI Launcher/GPUCache/data_2
UI Launcher/GPUCache/data_1
Wondershare/PDFThumbnail/Log/Thumbnail.log
Wondershare/PDFelement9/Log/ShellContextMenu.log
Wondershare/PDFelement9/Log/PEPreviewDeployment4.log
Wondershare/PDFelement9/Log/PEPreviewDeployment3.log
Wondershare/PDFelement9/Log/PEPreviewDeployment2.log
Wondershare/PDFelement9/Log/PEPreviewDeployment1.log
Wondershare/PDFelement9/Log/PEPreviewDeployment0.log
Wondershare/PDFelement9/Log/PDFelement1.log
Wondershare/PDFelement9/Log/PDFelement0.log
Wondershare/PDFelement9/Log/InstallVirtualPrinter.log
Wondershare/PDFelement9/DataCollection/tmp
Wondershare/PDFelement9/DataCollection/StaginngData.txt
Wondershare/PDFelement9/DataCollection/sdk.msg.bak
Wondershare/PDFelement9/DataCollection/sdk.msg
Wondershare/PDFelement9/DataCollection/sdk.log
Wondershare/PDFelement9/DataCollection/sdk.cf
Wondershare/PDFelement9/Config/WSID/UserInfo.dat
Wondershare/PDFelement9/Config/WSID/LastLoginInfo.ini
Wondershare/PDFelement9/Config/WSID/DeviceInfo.dat
Wondershare/PDFelement9/Config/WSID/AuthInfo.dat
Wondershare/PDFelement9/Config/Trial.ini
Wondershare/PDFelement9/Config/SystemFontList.cfg
Wondershare/PDFelement9/Config/SystemFontList.bak
Wondershare/PDFelement9/Config/RecentFolders.ini
Wondershare/PDFelement9/Config/RecentFiles.ini
Wondershare/PDFelement9/Config/PDFelement.ini
Wondershare/PDFelement9/Config/NPS.ini
Wondershare/PDFelement9/Config/NewCustomization.xml
Wondershare/PDFelement9/Config/MessageCenterConfig_New.config
Wondershare/PDFelement9/Config/MessageCenter.ini
Wondershare/PDFelement9/Config/MessageCenter.config
Wondershare/PDFelement9/Config/LanternGuardSystem/5259BF96341876DDCA1A481246AF1D0C.dat
Wondershare/PDFelement9/Config/HomeTool.ini
Wondershare/PDFelement9/Config/Home.ini
Wondershare/PDFelement9/Config/Guide.ini
Wondershare/PDFelement9/Config/Document Cloud/Default/CloudUser.ini
Wondershare/PDFelement9/Config/Document Cloud/CurrentCloudUser.ini
Wondershare/PDFelement9/Config/AutoSave.ini
Wondershare/PDFelement9/Config/AuthOperation.ini
Adobe/Acrobat/DC/TMGrpPrm.sav
Adobe/Acrobat/DC/TMDocs.sav
Adobe/Acrobat/DC/Security/reader_fss_signature_initialsk
Adobe/Acrobat/DC/Security/reader_fss_signature_initialsi
Adobe/Acrobat/DC/Security/reader_fss_signature_initials
Adobe/Acrobat/DC/Security/ES_session_storek
Adobe/Acrobat/DC/Security/ES_session_storei
Adobe/Acrobat/DC/Security/ES_session_store
Adobe/Acrobat/DC/Security/CRLCache/DF22CF8B8C3B46C10D3D5C407561EABEB57F8181.crl
Adobe/Acrobat/DC/Security/CRLCache/915DEAC5D1E15E49646B8A94E04E470958C9BB89.crl
Adobe/Acrobat/DC/Security/addressbook.acrodata
Adobe/Acrobat/DC/JSCache/GlobSettings
Adobe/Acrobat/DC/JSCache/GlobData
help_images_otherUI/help_images_otherUI/help_images_local/eDrawings 2022 x64 Edition.lnk
SOLIDWORKS/Installation Logs/2022 SP2.0/Other Logs/DownloadRequest00001.xml
SOLIDWORKS/Installation Logs/2022 SP2.0/Other Logs/GetServerMessages.xml
SOLIDWORKS/Installation Logs/2022 SP2.0/Other Logs/GetSourceInfo_20220-40200-1100-100.xml
SOLIDWORKS/Installation Logs/2022 SP2.0/Other Logs/IMDownloaderVersion.xml
SOLIDWORKS/Installation Logs/2022 SP2.0/Other Logs/IMVersions_20220.xml
SOLIDWORKS/Installation Logs/2022 SP2.0/Other Logs/RestoreStateAfterReboot_20220-100.xml
SOLIDWORKS/Installation Logs/2022 SP2.0/Other Logs/sldIMLog_20220-40200-1100_00001.txt
SOLIDWORKS/Installation Logs/2022 SP2.0/Other Logs/SubscriptionInfo_9020005347474731XGH7B84J.xml
SOLIDWORKS/Installation Logs/2022 SP2.0/Other Logs/SubscriptionInfoEx_9020005347474731XGH7B84J.xml
SOLIDWORKS/Installation Logs/2022 SP2.0/SummaryIMLog_20220-40200-1100_00001.txt
SOLIDWORKS/Installation Logs/Misc Logs/sldIMDownloaderLog_00001.txt
SOLIDWORKS/Installation Manager Data/2022/lang/english/eula.htm
SOLIDWORKS/Installation Manager Data/2022/lang/english/HTML/content.html
SOLIDWORKS/Installation Manager Data/2022/lang/english/HTML/Footer.html
SOLIDWORKS/Installation Manager Data/2022/lang/english/HTML/frameset.html
SOLIDWORKS/Installation Manager Data/2022/lang/english/HTML/framesetstartup.html
SOLIDWORKS/Installation Manager Data/2022/lang/english/HTML/header.html
SOLIDWORKS/Installation Manager Data/2022/lang/english/HTML/HtmlDialog.html
SOLIDWORKS/Installation Manager Data/2022/lang/english/HTML/iframe_serial_number.html
SOLIDWORKS/Installation Manager Data/2022/lang/english/HTML/iframe_Summary.html
SOLIDWORKS/Installation Manager Data/2022/lang/english/HTML/images/billboard1.jpg
SOLIDWORKS/Installation Manager Data/2022/lang/english/HTML/images/billboard10.jpg
SOLIDWORKS/Installation Manager Data/2022/lang/english/HTML/images/billboard11.jpg
SOLIDWORKS/Installation Manager Data/2022/lang/english/HTML/images/billboard12.jpg
SOLIDWORKS/Installation Manager Data/2022/lang/english/HTML/images/billboard13.jpg
SOLIDWORKS/Installation Manager Data/2022/lang/english/HTML/images/billboard14.jpg
SOLIDWORKS/Installation Manager Data/2022/lang/english/HTML/images/billboard15.jpg
SOLIDWORKS/Installation Manager Data/2022/lang/english/HTML/images/billboard16.jpg
SOLIDWORKS/Installation Manager Data/2022/lang/english/HTML/images/billboard17.jpg
SOLIDWORKS/Installation Manager Data/2022/lang/english/HTML/images/billboard2.jpg
SOLIDWORKS/Installation Manager Data/2022/lang/english/HTML/images/billboard3.jpg
SOLIDWORKS/Installation Manager Data/2022/lang/english/HTML/images/billboard4.jpg
SOLIDWORKS/Installation Manager Data/2022/lang/english/HTML/images/billboard5.jpg
SOLIDWORKS/Installation Manager Data/2022/lang/english/HTML/images/billboard6.jpg
SOLIDWORKS/Installation Manager Data/2022/lang/english/HTML/images/billboard7.jpg
SOLIDWORKS/Installation Manager Data/2022/lang/english/HTML/images/billboard8.jpg
SOLIDWORKS/Installation Manager Data/2022/lang/english/HTML/images/billboard9.jpg
SOLIDWORKS/Installation Manager Data/2022/lang/english/HTML/images/buttons/back.png
SOLIDWORKS/Installation Manager Data/2022/lang/english/HTML/images/buttons/cancel.png
SOLIDWORKS/Installation Manager Data/2022/lang/english/HTML/images/buttons/download.png
SOLIDWORKS/Installation Manager Data/2022/lang/english/HTML/images/buttons/download_install.png
SOLIDWORKS/Installation Manager Data/2022/lang/english/HTML/images/buttons/finish.png
SOLIDWORKS/Installation Manager Data/2022/lang/english/HTML/images/buttons/help.png
SOLIDWORKS/Installation Manager Data/2022/lang/english/HTML/images/buttons/install.png
SOLIDWORKS/Installation Manager Data/2022/lang/english/HTML/images/buttons/next.png
SOLIDWORKS/Installation Manager Data/2022/lang/english/HTML/images/buttons/pencilbutton.png
SOLIDWORKS/Installation Manager Data/2022/lang/english/HTML/images/buttons/pencilbutton_disabled.png
SOLIDWORKS/Installation Manager Data/2022/lang/english/HTML/images/buttons/pencilbutton_rollover.png
SOLIDWORKS/Installation Manager Data/2022/lang/english/HTML/images/buttons/repair.png
SOLIDWORKS/Installation Manager Data/2022/lang/english/HTML/images/buttons/retry_download.png
SOLIDWORKS/Installation Manager Data/2022/lang/english/HTML/images/close.png
SOLIDWORKS/Installation Manager Data/2022/lang/english/HTML/images/collapsible.png
SOLIDWORKS/Installation Manager Data/2022/lang/english/HTML/images/diag-green-check.png
SOLIDWORKS/Installation Manager Data/2022/lang/english/HTML/images/diag-red-x.png
SOLIDWORKS/Installation Manager Data/2022/lang/english/HTML/images/expandable.png
SOLIDWORKS/Installation Manager Data/2022/lang/english/HTML/images/footerbackground.jpg
SOLIDWORKS/Installation Manager Data/2022/lang/english/HTML/images/grad.gif
SOLIDWORKS/Installation Manager Data/2022/lang/english/HTML/images/i_imalert_32.png
SOLIDWORKS/Installation Manager Data/2022/lang/english/HTML/images/icon_error.png
SOLIDWORKS/Installation Manager Data/2022/lang/english/HTML/images/icon_info.png
SOLIDWORKS/Installation Manager Data/2022/lang/english/HTML/images/icon_warning.png
SOLIDWORKS/Installation Manager Data/2022/lang/english/HTML/images/info.png
SOLIDWORKS/Installation Manager Data/2022/lang/english/HTML/images/installoptions_background.png
SOLIDWORKS/Installation Manager Data/2022/lang/english/HTML/images/minus_tree.png
SOLIDWORKS/Installation Manager Data/2022/lang/english/HTML/images/not_yet_attempted.png
SOLIDWORKS/Installation Manager Data/2022/lang/english/HTML/images/placeholder.png
SOLIDWORKS/Installation Manager Data/2022/lang/english/HTML/images/plus_tree.png
SOLIDWORKS/Installation Manager Data/2022/lang/english/HTML/images/progress_animated.gif
SOLIDWORKS/Installation Manager Data/2022/lang/english/HTML/images/progress_animated_wide.gif
SOLIDWORKS/Installation Manager Data/2022/lang/english/HTML/images/scroll_more.png
SOLIDWORKS/Installation Manager Data/2022/lang/english/HTML/imfuncs.js
SOLIDWORKS/Installation Manager Data/2022/lang/english/HTML/sldim.css
SOLIDWORKS/Installation Manager Data/2022/lang/english/install_guide.chm
SOLIDWORKS/Installation Manager Data/2022/lang/english/sldim_download.chm
SOLIDWORKS/SOLIDWORKS 2022/swxJRNL.swj
SOLIDWORKS/SOLIDWORKS 2022/swxJRNL.BAK
SOLIDWORKS/SOLIDWORKS 2022/SolidWorksPerformance.log
SOLIDWORKS/SOLIDWORKS 2022/HoleWizardFavorites.sldedb
SOLIDWORKS/SOLIDWORKS 2022/graphicslog.json
SOLIDWORKS/FileAccess.log
Arduino IDE/2022-12-06_log.log
arduino-ide/.updaterId
arduino-ide/Code Cache/js/index
arduino-ide/Code Cache/js/index-dir/the-real-index
arduino-ide/Code Cache/wasm/index
arduino-ide/Code Cache/wasm/index-dir/the-real-index
arduino-ide/config.json
arduino-ide/Cookies
arduino-ide/Cookies-journal
arduino-ide/databases/Databases.db
arduino-ide/databases/Databases.db-journal
arduino-ide/GPUCache/data_0
arduino-ide/GPUCache/data_1
arduino-ide/GPUCache/data_2
arduino-ide/GPUCache/data_3
arduino-ide/GPUCache/index
arduino-ide/IndexedDB/file__0.indexeddb.leveldb/000003.log
arduino-ide/IndexedDB/file__0.indexeddb.leveldb/CURRENT
arduino-ide/IndexedDB/file__0.indexeddb.leveldb/LOCK
arduino-ide/IndexedDB/file__0.indexeddb.leveldb/LOG
arduino-ide/IndexedDB/file__0.indexeddb.leveldb/MANIFEST-000001
arduino-ide/Local State
arduino-ide/Local Storage/leveldb/000003.log
arduino-ide/Local Storage/leveldb/CURRENT
arduino-ide/Local Storage/leveldb/LOCK
arduino-ide/Local Storage/leveldb/LOG
arduino-ide/Local Storage/leveldb/MANIFEST-000001
arduino-ide/lockfile
arduino-ide/Network Persistent State
arduino-ide/Preferences
arduino-ide/QuotaManager
arduino-ide/QuotaManager-journal
arduino-ide/Service Worker/CacheStorage/3e8ad32ef6e0ff2c8dfb0722a7a862f0a1038fb3/e17f434f-ac67-430a-8a60-4bbbc1966777/index
arduino-ide/Service Worker/CacheStorage/3e8ad32ef6e0ff2c8dfb0722a7a862f0a1038fb3/e17f434f-ac67-430a-8a60-4bbbc1966777/index-dir/the-real-index
arduino-ide/Service Worker/CacheStorage/3e8ad32ef6e0ff2c8dfb0722a7a862f0a1038fb3/index.txt
arduino-ide/Session Storage/000003.log
arduino-ide/Session Storage/CURRENT
arduino-ide/Session Storage/LOCK
arduino-ide/Session Storage/LOG
arduino-ide/Session Storage/MANIFEST-000001
ni-offline-help-viewer/Cache/data_0
ni-offline-help-viewer/Cache/data_1
ni-offline-help-viewer/Cache/data_2
ni-offline-help-viewer/Cache/data_3
ni-offline-help-viewer/Cache/f_000001
ni-offline-help-viewer/Cache/f_000002
ni-offline-help-viewer/Cache/index
ni-offline-help-viewer/Code Cache/js/index
ni-offline-help-viewer/Code Cache/js/index-dir/the-real-index
ni-offline-help-viewer/Code Cache/wasm/index
ni-offline-help-viewer/Code Cache/wasm/index-dir/the-real-index
ni-offline-help-viewer/Cookies
ni-offline-help-viewer/Cookies-journal
ni-offline-help-viewer/Crashpad/settings.dat
ni-offline-help-viewer/FirstRun/NI Offline Help Viewer_1.8.0_app-startup
ni-offline-help-viewer/FirstRun/NI Offline Help Viewer_1.8.0_CLI_REGISTRATION
ni-offline-help-viewer/FirstRun/NI Offline Help Viewer_1.8.0_data
ni-offline-help-viewer/GPUCache/data_0
ni-offline-help-viewer/GPUCache/data_1
ni-offline-help-viewer/GPUCache/data_2
ni-offline-help-viewer/GPUCache/data_3
ni-offline-help-viewer/GPUCache/index
ni-offline-help-viewer/Local Storage/leveldb/000003.log
ni-offline-help-viewer/Local Storage/leveldb/CURRENT
ni-offline-help-viewer/Local Storage/leveldb/LOCK
ni-offline-help-viewer/Local Storage/leveldb/LOG
ni-offline-help-viewer/Local Storage/leveldb/LOG.old
ni-offline-help-viewer/Local Storage/leveldb/MANIFEST-000001
ni-offline-help-viewer/Network Persistent State
ni-offline-help-viewer/NIOfflineHelpViewer/logs/error.log
ni-offline-help-viewer/NIOfflineHelpViewer/logs/info.log
ni-offline-help-viewer/Preferences
ni-offline-help-viewer/Session Storage/000003.log
ni-offline-help-viewer/Session Storage/CURRENT
ni-offline-help-viewer/Session Storage/LOCK
ni-offline-help-viewer/Session Storage/LOG
ni-offline-help-viewer/Session Storage/LOG.old
ni-offline-help-viewer/Session Storage/MANIFEST-000001
ProXoft/Binary Viewer/Log/Binary Viewer_Log20221118.txt
ProXoft/Binary Viewer/MapDefinitions/BitmapHeader.cs
ProXoft/Binary Viewer/MapDefinitions/MiscelaneousStructures.cs
ProXoft/Binary Viewer/Settings/Binary Viewer_Layout.xml
ProXoft/Binary Viewer/Settings/Binary Viewer_UserSettings.xml
SOLIDWORKS/SOLIDWORKS 2022/toolbox/data/tb_default.sldedb
SOLIDWORKS/SOLIDWORKS Rx 2022/COSMOS_CU.reg.txt
SOLIDWORKS/SOLIDWORKS Rx 2022/COSMOS_LM.reg.txt
SOLIDWORKS/SOLIDWORKS Rx 2022/DiagnosticsReport.xml
SOLIDWORKS/SOLIDWORKS Rx 2022/EventLogApplication.evt
SOLIDWORKS/SOLIDWORKS Rx 2022/EventLogSystem.evt
SOLIDWORKS/SOLIDWORKS Rx 2022/Flexlm.reg.txt
SOLIDWORKS/SOLIDWORKS Rx 2022/regtmp.reg.txt
SOLIDWORKS/SOLIDWORKS Rx 2022/ReliabilityReport.xml
SOLIDWORKS/SOLIDWORKS Rx 2022/SWcuReg.reg.txt
SOLIDWORKS/SOLIDWORKS Rx 2022/SWlmReg.reg.txt
Wondershare/PDFelement9/Config/BuiltinBuy.ini
Wondershare/PDFelement9/Config/HelpFile.ini
Wondershare/PDFelement9/Config/pdfelement6-win-msgcenter-enppc.config
Wondershare/PDFelement9/Log/9547b370-6dca-4b12-9446-171b90dfd2c6ShellContextMenu.log
Wondershare/PDFelement9/Log/df26f527-1165-414c-aef2-3fa73d01c60dPEToolDeployment0.log
Wondershare/PDFelement9/Log/PDFelement2.log
Wondershare/PDFelement9/Log/PDFelement3.log
Wondershare/PDFelement9/Log/PENotify0.log
Wondershare/PDFelement9/Log/PEPreviewDeployment5.log
Wondershare/PDFelement9/Log/PEPreviewDeployment6.log
Wondershare/PDFelement9/Log/PEPreviewDeployment7.log
Wondershare/PDFelement9/Log/PEToolDeployment.Install0.log
Wondershare/PDFelement9/Log/PEToolDeployment.Install1.log
Wondershare/PDFelement9/Log/PEToolDeployment.Install2.log
Wondershare/PDFelement9/Log/PEToolDeployment0.log
Wondershare/PDFelement9/Log/PEToolDeployment1.log
Wondershare/PDFelement9/Log/PEToolDeployment2.log
Wondershare/PDFelement9/Log/sdk.cf
Wondershare/PDFelement9/Log/sdk.log
Wondershare/PDFelement9/Log/tmp
