/.bash_history
/.emacs.d/
/.emacs~
/.gitconfig
/Autodesk Installer/
/Autodesk/
/GitHub Desktop/
/MiKTeX/
/Microsoft/
/Prusa Research/
/PrusaSlicer/
/Slack/
/TUG/
/Zotero/
/vlc/
UI Launcher/GPUCache/data_0
UI Launcher/Network Persistent State
UI Launcher/GPUCache/index
UI Launcher/GPUCache/f_000002
UI Launcher/GPUCache/f_000001
UI Launcher/GPUCache/data_3
UI Launcher/GPUCache/data_2
UI Launcher/GPUCache/data_1
